.dropdown-menu{
 position: absolute;
 background: #e54;
 border: .125rem solid #333;
 z-index: 500;
 top: 2.975rem;
}
.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -.625rem;
  width: 0;
  height: 0;
  border-right: .625rem solid transparent;
  border-left: .625rem solid transparent;
  border-bottom: .625rem solid #e54;
}
.dropdown-menu li a:hover{
  color: #fff;
}