@keyframes modal{
  from{
    opacity: 0;
    transform: trasnlat3d(0, -1.875rem, 0)
  }
  to{
    opacity : 1;
    transform: trasnlat3d(0, 0, 0) 
  }
}
.active .modal{
  animation: modal .3s forwards;
}