.numeros-grid{
  display: grid;
  grid-column: 2/4;
  grid-template-columns: 1fr 1fr;
}
.numeros-grid h3{
  font-family: 'Playfair Display SC';
  font-size: 2rem;
  margin-bottom: .5rem;
}
.numeros-grid span{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e54;
}

@media(max-width: 43.75rem){
  .numeros-grid{
    grid-column: 1;
  }
}