.js [data-anime = 'accordion'] dt::after{
  content: 'тоз';
  margin-left: .625rem
}
.js [data-anime = 'accordion'] dt.active::after{
  content: 'тое';
}
.js [data-anime = 'accordion'] dd{
  display: none;
}
.js [data-anime = 'accordion'] dd.active{
  display: block;
  animation: slideDown 5.s forwards;;
}

@keyframes slideDown{
  from{
    opacity: 0;
    max-height: 0;
  }
  to{
    max-width: 12.5rem;
    opacity: 1;
  }
}