[data-week]::after{
  content:'';
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: #e54;
  border-radius: 50%;
  margin-left: .25rem;
  border: .125rem solid #000;
}

[data-week].open::after{
  background: #3f4;
}
